body{
    background-color: black;
    text-align: center;
    background-size: cover;
}

h1{
    color: yellow;
}

#registro{
    background-image: url(./assets/744822.jpg);
    background-size: cover;
    height: 800px;
}

div.formulario{
    color: white;
    text-align: left;
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

h1.titulo {
    color: white;
}


#encabezado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#favicon{
    color: aliceblue;
    padding: 3px;
    margin: 3px;
}

footer{
    color: white;
}

.encabezados{
    margin-top: 70px;
}